input {
  padding: 5px;
  display: block;
  width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  appearance: none;
}

/* Firefox */
input[type=number] {
  appearance: none;
  -moz-appearance: textfield;
}